footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    font-size: 0.5rem;
    margin-top: 1rem;
        img{
            height: 75%;
            padding-left: 2%;
            height: 50%;
        }
        p{
            color: white;
            padding-right: 2%;
        }
}