header {
    background-color:$background-principal;
    @include flex( flex, center, center, none, none );
    height: 10vh;
    width: 100%;
    a{
        img{
            width: 7rem;
        }
    }
}
/******Pisar bootstrap*/

.navbar-bottstrap {
    display: none;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 900;
}
.navbar-nav {
    text-align: center;
}
.navbar-toggler {
    color: $color-secundario;
    border: 0px ;
    font-size: 1rem;
}
.navbar-toggler:focus{
    box-shadow:none;
}
.navbar-toggler-icon{
    background-image: url(../assets/img/icono-hamburguesa.png)
}

.navbar-nav a{
background-color: $background-principal;
padding: 2px 0;
margin: 2px 0;
width: 100%;
color: $color-principal;
}