.contenedor-general-tarjeta {
    width: 100%;
    height: 100%;
    grid-column: 1 /7;
    grid-row: 2 / 9;
    @include flex( flex, space-evenly, none, none, wrap );
    background-color: $background-principal;
    margin: 1rem 0;
    color: $color-principal;
        img{
            align-self: center;
            width: 450px;
        }
        
}
.animacion-gif-card{
    margin: 1rem;
    text-align: center;
    align-self: center;
    border-radius: 1%;
    animation-name: regala;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
        p{
                font-weight: 900;
                font-size: 3.5rem;
                margin: 0;
            }
}
.contenedor-2-tarjeta {
    grid-column: 1 /7;
    grid-row: 9 / 11;
}
.contenedor-tarjetas {
    background-color: $background-principal;
    height: 5rem;
    @include flex( flex, space-evenly, center, none, wrap );
    padding: 0 10px;
    margin-top: 2rem ;
    a{
        img{
            width: 100px;
            justify-self: center;
            align-self: center;
            margin: 10px;
            &:hover {
               width: 115px;
             }
        }
    }
}

