.container-article-nosotros {
    grid-column: 1 / 7;
    grid-row: 2 / 11;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
        h2{
            grid-column: 1 / 4;
            grid-row: 1 / 2;
            font-size: 4rem;
            text-align: center;
            font-weight: 900;
            align-self: center;
        }
        p{
            font-size: 1.8rem;
            text-align: left;
            padding: 0 1rem;
        }
}
.parrafo1 {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
    align-self: center;
}

.parrafo2 {
    grid-column: 4 / 7;
    grid-row: 2 / 3;
}
.imagenes-article {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
        img{
            width: 150px;  
        }
}