@media (max-width:376px) {

    /*****INDEX*/
    .container-main-1{
        h1{
            span{
                font-size: 3.5rem;
            }
        }
        img{
            height: 65%;
        }
    }
    /*****NOSOTROS*/

    .container-article-nosotros{
        h2{
            font-size: 2.1rem;
        }
    }
     /*****GIFTCARD*/
     .contenedor-general-tarjeta {
        grid-row: 1 / 10;
        margin: 1rem 0;
            a{
                img{
                width: 250px;
                    }
             }
    }
    .animacion-gif-card{
        p{
            font-size: 3rem;
        }
    }
    .contenedor-2-tarjeta {
        grid-row: 10 / 11;
    }
    .tarjeta-individual {
        width: 90px;
    }
        /*****PRODUCTOS*/
    .lista-caracteristicas{
        img{
            width: 80%;
        }
    }    
    .contenedor-tarjetas {
        a{
            img{
                width: 70px;
            }
        }
}
}